<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Pin to nuget.org to stabilize GoogleTest restore on local machines -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
  </disabledPackageSources>
</configuration>

