ABOUTBOX DIALOG 20, 108, 520, 140
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About Rail Control"
FONT 8, "MS Sans Serif"
BEGIN
        CONTROL "", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 170, 6, 180, 60
        LTEXT "Rail Control", -1, 185, 14, 160, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
        LTEXT "Copyright (C) MD 1993 - 2025", 550, 185, 26, 180, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
        LTEXT "Version 3.0", -1, 185, 38, 160, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
        LTEXT "Released: 20/10/25", -1, 185, 50, 160, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
        DEFPUSHBUTTON "OK", 1, 232, 90, 55, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END
